.Card {
    margin: 20px;
    padding: 20px;
    transition: all .25s ease-in-out;
    cursor: pointer;
}

.Card:hover {
    transform: scale(1.05);
}

.CardIcon {
    text-align: center;
    font-size: 100px;
}

.CardText {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color:black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Card {
        margin:10px 0;
        padding:10px;
        min-height: 160px;
        overflow: auto;
    }

    .CardIcon {
        font-size: 40px;
    }

    .CardText {
        font-size: 14px;
    }

}