.Alert {
    width:92%;
    height:50px;
    padding:15px;
    margin:auto;
    border-radius: 3px;
    margin-top:30px;
    margin-bottom:20px;
}

.AlertMessage {
    font-weight: bold;
    font-size: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .AlertMessage {
        font-size:12px;
    }

    .Alert {
        height: 70px;
        
    }

}